<!DOCTYPE html>
<html lang="en-US"  ng-app="myLanguageApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-controller="languages">

Select Your Favorite Language: <button ng-click="php()">PHP</button>
 <button ng-click="javascript()">JavaScript </button>

<p> Your Have Select:{{myFavLanguage}}</p>
 	
</div>

<script>
 var application = angular.module('myLanguageApp',[]);
 application.controller('languages',function($scope)
{
	$scope.myFavLanguage = 'None';
	$scope.php = function(){
	
		$scope.myFavLanguage = 'PHP';
	}
	$scope.javascript = function(){
	
		$scope.myFavLanguage = 'JavaScript';
	}
});
</script>

</body>
</html>